button {
    border: none;
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.item_complete {
    font-size: 30px;
    margin: 10px;
    text-decoration: line-through;
    color: lightgray;
}

.item_active {
    font-size: 30px;
    margin: 10px;
}

.checkbox {
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    padding: 10px;
    margin-right: 10px;
}