<div>
    {{title}} - {{author}}
</div>

<input type="text"
       (keyup.enter)="onKeyPressInput($event)">
<label (click)="clickSelectAll()"
       class="lblSelectAll">+</label>

<ul>
    <app-items *ngFor="let task of listTasks"
               [task]="task"
               (removeItem)="onRemoveItem($event)"
               (changeSelectedItem)="onChangeSelectedItem($event)"></app-items>
</ul>

<label>
    {{getItemsLeft()}} items left
</label>
<button (mouseenter)="onMouseEnter($event)"
        (mouseleave)="onMouseLeave($event)"
        (click)="onClickAll()">All</button>
<button (mouseenter)="onMouseEnter($event)"
        (mouseleave)="onMouseLeave($event)"
        (click)="onClickActive()">Active</button>
<button (mouseenter)="onMouseEnter($event)"
        (mouseleave)="onMouseLeave($event)"
        (click)="onClickComplete()">Complete</button>
<button (mouseenter)="onMouseEnter($event)"
        (mouseleave)="onMouseLeave($event)"
        (click)="onClickClearComplete()">Clear complete</button>